{% import "upload/_macros" as macros %}

{% set asset = asset ?? false %}
{% set name = name ?? false %}
{% set transform = transform ?? false %}
{% set enableRemove = enableRemove ?? false %}
{% set view = view ?? 'auto' %}

{% if asset %}

    {% set view = asset.kind != 'image' ? 'file' : (view == 'auto' ? 'image' : view) %}

    {% if not transform %}
        {% set transform = {
            mode: 'crop',
            width: 400,
            height: 400,
            quality: 90,
            position: 'center-center'
        } %}
    {% endif %}


    {# {% set assetUrl = asset.url ? asset.url(transform) : asset.getThumbUrl(800) %} #}

{#     {% set attributes = [
        view == 'background' ? 'style="background-image: url('~assetUrl~');"' : null,
    ]|filter|join(' ') %} #}

    {% set attributes = {
        class: [
            'uploadit--asset',
            'uploadit--assetPreview-' ~ view
        ]|filter,
    } %}

    <li {{ attr(attributes)}}>

        {% if name %}
            {% set name = name|replace({'[]': ''}) ~ '[]' %}
            <input type="hidden" name="{{ name }}" value="{{ asset.id }}">
        {% endif %}

        <div class="uploadit--thumb">
            {% switch view %}

                {% case "file" %}
                    <div class="uploadit--fileType">.{{ asset.extension }}</div>

                {% case "image" %}
                    {# <img src="{{ assetUrl }}" alt="{{ asset.title }}" /> #}

                {% case "logo" %}
                    <img class="uploadit--round" src="{{ assetUrl }}" alt="{{ asset.title }}" />

                {% case "header" %}
                    <img class="uploadit--landscape" src="{{ assetUrl }}" alt="{{ asset.title }}" />

            {% endswitch %}

        </div>

        <div class="uploadit--details">
            <div class="uploadit--filename">{{ asset.filename }}</div>
            <div class="uploadit--size">{{ (asset.size/1000)|number_format(2, '.', ',') }} KB</div>
        </div>


        {% if enableRemove %}
            <div class="uploadit--remove">
                <button type="button">{{ macros.icon('close') }}</a>
            </div>
        {% endif %}

    </li>

{% endif %}




