{% from "upload/_macros" import icon %}

{% set asset = asset ?? false %}
{% set index = index ?? false %}
{% set name = name ?? false %}
{% set transform = transform ?? false %}
{% set enableRemove = enableRemove ?? false %}
{% set view = view ?? 'auto' %}

{% if asset %}

    {% set view = asset.kind != 'image' ? 'file' : (view == 'auto' ? 'image' : view) %}

    {% if not transform %}
        {% set transform = {
            mode: 'crop',
            width: 200,
            height: 150,
            quality: 90,
            position: 'center-center'
        } %}
    {% endif %}

    {% set assetUrl = asset.url ? asset.url(transform) : asset.getThumbUrl(800) %}

    {% set attributes = {
        class: [
            'uploadit--asset',
            'uploadit--assetPreview-' ~ view
        ]|filter,
    } %}


    <li {{ attr(attributes)}}>

        {% if name %}
            {% set name = name|replace({'[]': ''}) ~ '[]' %}
            <input type="hidden" name="{{ name }}" value="{{ asset.id }}">
        {% endif %}

        <div class="uploadit--thumb">
            <div>
                {% switch view %}

                    {% case "file" %}
                        <div class="uploadit--fileType">.{{ asset.extension }}</div>

                    {% case "image" %}
                        <img class="uploadit--imagePreview" src="{{ assetUrl }}" alt="{{ asset.title }}" />

                    {% case "logo" %}
                        <img class="uploadit--round" src="{{ assetUrl }}" alt="{{ asset.title }}" />

                    {% case "header" %}
                        <img class="uploadit--landscape" src="{{ assetUrl }}" alt="{{ asset.title }}" />

                {% endswitch %}
            </div>
        </div>

        <div class="uploadit--details">
            <div class="uploadit--filename">{{ asset.filename }}</div>
            <div class="uploadit--size">{{ asset.size|formatSizeUnits }}</div>

           {#  <form >
                {{ hiddenInput('action', 'upload/upload/save-asset') }}
                {{ hiddenInput('siteId', '1') }}
                {{ hiddenInput('assetId', asset.id) }}
                <input type="text" name="title" value="{{ asset.title ?? '' }}">
                <input type="submit" name="save">
            </form> #}

        </div>


        {% if enableRemove %}
            <div class="uploadit--remove">
                <button type="button">{{ icon('close') }}</a>
            </div>
        {% endif %}

    </li>

{% endif %}




